.Rproj.user
.Rhistory
.RData
.Ruserdata

R_Scripts/01KEY_Lab1.R

R_Scripts/02KEY_Lab2.R

R_Scripts/03KEY_Lab3.R

R_Scripts/04KEY_Lab4.R

R_Scripts/05KEY_Lab5.R

R_Scripts/07KEY_regr.R

data/Lab08data.csv

R_Scripts/Lab08_KEY.R

R_Scripts/Lab09_KEY.R

R_Scripts/10KEY_logistic.R
